#tray-tray{
    width:80%;
    height:25px;
    background:#FFFFFF;
    padding-top:1px;
    margin:0 auto;
    position:fixed;
    bottom:0;
    left:10%;
    border:1px solid #B5B5B5;
    border-bottom:none;
    font-size:11px;
}

#tray-tray ul{
    margin:0;
    padding:0;
}

#tray-tray ul.tray-main{
    overflow:hidden;
    background:#E5E5E5;
    padding:0 5px;
}

#tray-tray ul li.tray-item{
    list-style:none outside none;
    float:left;
    margin:0 2px 0 0;
    background:none;
    padding:0;
}

#tray-tray ul li.tray-item a.tray-item-handle{
    color:#111111;
    display:block;
    font-size:11px;
    height:25px;
    line-height:25px;
    padding:0 10px;
    font-weight:bold;
}

#tray-tray ul li.tray-item a.tray-item-handle:hover{
    background:#FFFFFF;
    text-decoration:none;
}

#tray-tray ul li.tray-item-active a.tray-item-handle{
    background:#526EA6;
    color:#FFFFFF;
}

#tray-tray ul li.tray-item-active a.tray-item-handle:hover{
    background:#526EA6;
}

#tray-tray ul li .tray-item-block{
    display:none;
    position:fixed;
    bottom:26px;
    background:#FFFFFF;
    width:250px;
    border:1px solid #111111;
    z-index:1000;
    font-size:11px;
}

#tray-tray ul li .tray-item-block .tray-item-controls{
    overflow:hidden;
    background:#526EA6;
    height:20px;
    color:#FFFFFF;
    padding:2px 5px;
    font-weight:bold;
}

#tray-tray ul li .tray-item-block .tray-item-controls ul{
    float:right;
}

#tray-tray ul li .tray-item-block .tray-item-controls ul li{
    background:none;
    list-style:none outside none;
    margin:0;
    padding:0;
    float:left;
}

#tray-tray ul li .tray-item-block .tray-item-controls ul li a{
    display:block;
    width:16px;
    height:16px;
    text-indent:-9999px;
    margin:1px;
}

#tray-tray ul li .tray-item-block .tray-item-controls ul li a.tray-item-minimize{
    background:transparent url(images/minimize.png) no-repeat center;
}

#tray-tray ul li .tray-item-block .tray-item-controls ul li a.tray-item-close{
    background:transparent url(images/close.png) no-repeat center;
}

#tray-tray ul li .tray-item-block .tray-item-content{
    padding:5px;
}

#tray-tray ul li.tray-item-full{
    padding:2px 5px;
}

#tray-tray ul li.tray-item-full p{
    margin:0;
}